.nav_wrapper {
  width: 100%;
  &_container {
    width: 58%;
    margin: 0 auto;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &_left {
      &_logo {
        width: 129px;
        height: 55px;
      }
    }
    &_center {
      margin-left: 40px;
      &_ul {
        display: flex;
        align-items: center;
        gap: 42px;
        &_li {
          &_a {
            color: #000;
            font-family: Roboto;
            font-size: 10px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            text-transform: uppercase;
          }
          &_a:hover {
            color: #ec1c24;
            cursor: pointer;
          }
          &_ab {
            display: flex;
          }
        }
      }
    }
    &_right {
      display: flex;
      align-items: center;
      &_div {
        display: flex;
        align-items: center;

        &_btn {
          background: #fff;
          margin-right: 30px;
          width: 142px;
          height: 32px;
          border-radius: 30px;
          border: 1px solid #6a6a6a;
          color: #000;
          font-family: Roboto;
          font-size: 10px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          text-transform: uppercase;
        }
        &_btn:hover {
          cursor: pointer;
          color: #ec1c24;
          border-color: #ec1c24;
        }
        &_tel {
          margin-right: 11px;
          width: 20px;
          height: 20px;
        }
        &_tel:hover {
          cursor: pointer;
        }
        &_hr {
          margin-left: 14px;
          margin-right: 24px;
          width: 1px;
          height: 30px;
          background: #e3e3e3;
        }
      }
      &_burger {
        width: 35px;
        height: 14px;
      }
    }
  }
}

@media screen and (max-width: 1030px) {
  .nav_wrapper {
    width: 100%;
    &_container {
      width: 90%;
      margin: 0 auto;
      margin-top: 5px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &_left {
        &_logo {
          width: 159px;
          height: 58px;
        }
      }
      &_center {
        margin-left: 40px;
        &_ul {
          display: flex;
          align-items: center;
          gap: 42px;
          &_li {
            &_a {
              color: #000;
              font-family: Roboto;
              font-size: 14px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
              text-transform: uppercase;
            }
            &_a:hover {
              color: #ec1c24;
              cursor: pointer;
            }
            &_ab {
              display: none;
            }
          }
        }
      }
      &_right {
        display: flex;
        align-items: center;
        &_div {
          display: flex;
          align-items: center;

          &_btn {
            background: #fff;
            margin-right: 30px;
            width: 142px;
            height: 32px;
            border-radius: 30px;
            border: 1px solid #6a6a6a;
            color: #000;
            font-family: Roboto;
            font-size: 10px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            text-transform: uppercase;
          }
          &_btn:hover {
            cursor: pointer;
            color: #ec1c24;
            border-color: #ec1c24;
          }
          &_tel {
            margin-right: 11px;
            width: 20px;
            height: 20px;
          }
          &_tel:hover {
            cursor: pointer;
          }
          &_hr {
            margin-left: 14px;
            margin-right: 24px;
            width: 1px;
            height: 30px;
            background: #e3e3e3;
          }
        }
        &_burger {
          width: 35px;
          height: 14px;
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .nav_wrapper {
    width: 100%;
    &_container {
      width: 90%;
      margin: 0 auto;
      margin-top: 5px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &_left {
        &_logo {
          width: 121px;
          height: 44px;
        }
      }
      &_center {
        margin-left: 40px;
        &_ul {
          display: none;
          align-items: center;
          gap: 42px;
          &_li {
            &_a {
              color: #000;
              font-family: Roboto;
              font-size: 14px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
              text-transform: uppercase;
            }
            &_a:hover {
              color: #ec1c24;
              cursor: pointer;
            }
            &_ab {
              display: none;
            }
          }
        }
      }
      &_right {
        display: flex;
        align-items: center;
        &_div {
          display: none;
          align-items: center;

          &_btn {
            display: none;
            background: #fff;
            margin-right: 30px;
            width: 142px;
            height: 32px;
            border-radius: 30px;
            border: 1px solid #6a6a6a;
            color: #000;
            font-family: Roboto;
            font-size: 10px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            text-transform: uppercase;
          }
          &_btn:hover {
            cursor: pointer;
            color: #ec1c24;
            border-color: #ec1c24;
          }
          &_tel {
            margin-right: 11px;
            width: 20px;
            height: 20px;
          }
          &_tel:hover {
            cursor: pointer;
          }
          &_hr {
            display: none;
            margin-left: 14px;
            margin-right: 24px;
            width: 1px;
            height: 30px;
            background: #e3e3e3;
          }
        }
        &_burger {
          width: 35px;
          height: 14px;
        }
      }
    }
  }
}



